body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  background: #3181bf;
  place-content: center;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section {
  background: #fc9e9e fixed;
  border: 5px solid #222;
  padding: 20px;
  border-radius: 20px;
  
}
