.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main{
  display: flex;
  justify-self: center;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
}