main {
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main img {
    max-width: 420px;
    height: auto;
}
/* 
section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
section img {
    max-width: 320px;
    height: auto;
} */